<!-- footer section starts -->
  		<section id="footer">
  			<div class="row footer_header">

  				<div class="container">
  					<div class="col-md-6 col-sm-6">
  						<div class="row text-right">
  							<h3>novoTech</h3>
  							<h2>Changes are starting now!</h2>
  						</div>	
  					</div>
  					<div class="col-md-6 col-sm-6">
  						<div class="row">

  							<a href="tel:+455 555 555">
  								<img src="images/phone.png" alt="phone">
  								&nbsp;&nbsp;+455 555 555</a>
  							</div>
  						</div>

  					</div>
  				</div>	

  				<!-- footer-bottom -->
  				<div class="footer-bottom">
  					<div class="container">
  						<div class="row">
  							<div class="col-md-3 col-xs-6 col-sm-3">
  								<h3>Company</h3>
  								<a href="">
  									<h4>About us</h4>
  								</a>
  								<a href="">
  									<h4>Services</h4>
  								</a>
  								<a href="">
  									<h4>Careers</h4>
  								</a>
  							</div>
  							<div class="col-md-3 col-xs-6 col-sm-3">
  								<h3>Fast Links</h3>
  								<a href="">
  									<h4>News</h4>
  								</a>
  								<a href="">
  									<h4>Team</h4>
  								</a>
  								<a href="">
  									<h4>Projects</h4>
  								</a>
  							</div>
  							<div class="col-md-3 col-xs-6 col-sm-3">
  								<h3>Connect</h3>
  								<a href="">
  									<h4>Contact</h4>
  								</a>
  								<a href="">
  									<h4>Work with us</h4>
  								</a>
  								<a href="">
  									<h4>Careers</h4>
  								</a>
  							</div>
  							<div class="col-md-3 col-xs-6 col-sm-3">
  								<h3>Social Networks</h3>
  								<a href="">
  									<h4>Instagram</h4>
  								</a>
  								<a href="">
  									<h4>Facebook</h4>
  								</a>
  								<a href="">
  									<h4>LinkedIn</h4>
  								</a>
  							</div>
  						</div>
  						<div class="bottom text-center">
  							<div class="row"><p>© Ivan Novoselov 2017</p></div>

  						</div>

  					</div>

  				</div>
  			</section>
  			<!-- footer section ends -->

  			<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="javascripts/goto.js"></script>
  			<!-- Include all compiled plugins (below), or include individual files as needed -->
  			<script src="javascripts/bootstrap.min.js"></script>
  		