<!DOCTYPE html>
<html lang="en">
  
<% include templates/header.ejs %>

<div class="container text-center">
  <div class="row">
    <div class="col-md-12">
      <img src="images/z.png" alt="" class="big-logo">
    </div>
  </div>
<div class="row">
  <div class="container text-center slogan">
    <h1>About us</h1>
  </div>
</div>
<div class="row arial_font_news">

<h2>Learn more</h2>

</div>
<div class="row">
<a class="go_to" href="#about_main"><img src="images/arrows.svg" alt="arrow" class="arrow"></a>



</div>
</div>
</section>
<section id="about_main">
<div class="container">
  <div class="row text-center about_title">
    <h2>OUR ACTIVITIES</h2>
  </div>

  <div class="row">
      <div class="block_act">
        <div class="col-md-3 col-md-offset-1 col-xs-12">
          <img src="images/research.svg" alt="research">
        </div>
        <div class="col-md-5 col-xs-12">
          <h2>Customer Reserch</h2>
          <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed dolore laudantium dolores velit in, eum, quos provident. Voluptas repellendus, error atque! Corporis, culpa? Omnis deleniti nulla porro quasi provident totam.</h3>
        </div>
        <div class="col-md-2"></div>
      </div>
  </div>

  <div class="row">
      <div class="block_act_2 ">
        <div class="col-md-5 col-xs-12 col-md-offset-4">
          <h2>Scenario Planning</h2>
          <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed dolore laudantium dolores velit in, eum, quos provident. Voluptas repellendus, error atque! Corporis, culpa? Omnis deleniti nulla porro quasi provident totam.</h3>
        </div>
      
        <div class="col-md-3">
          <img src="images/brainstorm.svg" alt="research">
        </div>
      </div>
  </div>

  <div class="row">
      <div class="block_act">
        <div class="col-md-3 col-md-offset-1 col-xs-12">
          <img src="images/exam.svg" alt="research">
        </div>
        <div class="col-md-5 col-xs-12">
          <h2>Usability Testing</h2>
          <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed dolore laudantium dolores velit in, eum, quos provident. Voluptas repellendus, error atque! Corporis, culpa? Omnis deleniti nulla porro quasi provident totam.</h3>
        </div>
      </div>
  </div>

  <div class="row">
      <div class="block_act_2 ">
        <div class="col-md-5 col-xs-12 col-md-offset-4">
          <h2>Data Structure</h2>
          <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed dolore laudantium dolores velit in, eum, quos provident. Voluptas repellendus, error atque! Corporis, culpa? Omnis deleniti nulla porro quasi provident totam.</h3>
        </div>
      
        <div class="col-md-3">
          <img src="images/marketing.svg" alt="research">
        </div>
      </div>
  </div>

  <div class="row">
      <div class="block_act">
        <div class="col-md-3 col-md-offset-1 col-xs-12">
          <img src="images/monitor.svg" alt="research">
        </div>
        <div class="col-md-5 col-xs-12">
          <h2>Ui and Design</h2>
          <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed dolore laudantium dolores velit in, eum, quos provident. Voluptas repellendus, error atque! Corporis, culpa? Omnis deleniti nulla porro quasi provident totam.</h3>
        </div>
      </div>
  </div>

  <div class="row">
      <div class="block_act_2 ">
        <div class="col-md-5 col-xs-12 col-md-offset-4">
          <h2>Coaching</h2>
          <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed dolore laudantium dolores velit in, eum, quos provident. Voluptas repellendus, error atque! Corporis, culpa? Omnis deleniti nulla porro quasi provident totam.</h3>
        </div>
      
        <div class="col-md-3">
          <img src="images/presentation.svg" alt="research">
        </div>
      </div>
  </div>
  
</div>


</section>

<% include templates/footer.ejs %>
</body>
</html>