<!DOCTYPE html>
<html lang="en">

<% include templates/header.ejs %>

	<div class="container text-center">
		<div class="row">
			<div class="col-md-12">
				<img src="images/z.png" alt="" class="big-logo">
			</div>
		</div>
		<div class="row">
			<div class="container text-center slogan">
				<h1>We’re a user experience <br>consultant company focused <br> on small companies and corporations <br> with a evidence-based design.</h1>
			</div>
		</div>
		<div class="row arial_font">

			<h2>Ready to start?</h2>

		</div>
		<div class="row">
			<a class="go_to" href="#services"><img src="images/arrows.svg" alt="arrow" class="arrow"></a>



		</div>
	</div>



</section>
<!-- main section ends -->

<!-- services section starts -->
<section id="services">
	<div class="container text-center services-icon">
		<div class="row">
			<h2>OUR SERVICES</h2>
		</div>
		<div class="row">

			<div class="col-md-4 col-xs-12 col-sm-6">
				<a href="/about#about_main">

					<img  src="images/research.svg" alt="user-research-img">
					<h3>Customer Research</h3>
					<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat vel a sint dignissimos atque facere.</h4>
				</a>
			</div>
			<div class="col-md-4 col-xs-12 col-sm-6">

				<a href="/about#about_main">
					<img  src="images/brainstorm.svg" alt="planning-img">
					<h3>Scenario Planning</h3>
					<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic odit dolorum voluptatem nihil dicta facere.</h4>
				</a>
			</div>

		<div class="col-md-4 col-xs-12 col-sm-6">
				<a href="/about#about_main">
					<img src="images/exam.svg" alt="Testing-img" >
					<h3>Usability Testing</h3>
					<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto incidunt sequi veniam mollitia similique laboriosam.</h4>
				</a>
			</div>
			<div class="col-md-4 col-xs-12 col-sm-6">
				<a href="/about#about_main">
					<img src="images/marketing.svg" alt="IA-img" >
					<h3>Data Structure</h3>
					<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus culpa id repellat quidem libero deserunt!</h4>
				</a>
			</div>
			<div class="col-md-4 col-xs-12 col-sm-6">
				<a href="/about#about_main">
					<img src="images/monitor.svg" alt="UI-img" >
					<h3>UI and Design</h3>
					<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt vero assumenda, asperiores autem minima a.</h4>
				</a>
			</div>
			<div class="col-md-4 col-xs-12 col-sm-6">
				<a href="/about#about_main">
					<img src="images/presentation.svg" alt="" >
					<h3>Coaching</h3>
					<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis voluptates dolorem quis possimus, inventore soluta.</h4>
				</a>
			</div>
			
		</div>
	</div>

</section>

<!-- services section ends -->

<!-- value section starts -->
<section id="value">
	<div class="container text-center value_page">
		<div class="row"> <img src="images/z.png" alt="main-logo"> </div>
		<div class="row"><h2>Top level consultants in User Centered Design, <br> Usability testing and operational improvement <br> effectiveness for mission critical environments.</h2></div>
		<div class="row"> <a href="/team#team_main" class="btn">meet the experts</a></div>
	</div>
</section>
<!-- value section ends -->

<% include templates/footer.ejs %>
</body>
</html>
