<!DOCTYPE html>
<html lang="en">
  
  <% include templates/header.ejs %>

 <div class="container text-center">
    <div class="row">
      <div class="col-md-12">
        <img src="images/z.png" alt="" class="big-logo">
      </div>
    </div>
  <div class="row">
    <div class="container text-center slogan">
      <h1>Our Projects</h1>
    </div>
  </div>
  <div class="row arial_font_news">

  <h2>View</h2>

</div>
<div class="row">
  <a class="go_to" href="#projects_main"><img src="images/arrows.svg" alt="arrow" class="arrow"></a>



</div>
 </div>
</section>
<section id="projects_main">
<div class="container">
  <div class="row text-center about_title">
    <h2>PROJECTS PORTFOLIO</h2>
  </div>

  <div class="row prj_case text-center">
      <div class="col-md-4">
        <a href="/projects">
          <img src="images/case1.jpg" alt="case1">
        <h3>USER CENTERED DESIGN</h3>
        <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam quo ratione, aspernatur a velit quia ipsa porro quas at mollitia.</h4>
        </a>
      </div>
      <div class="col-md-4">
        <a href="/projects">
          <img src="images/case2.jpg" alt="case1">
        <h3>USER CENTERED DESIGN</h3>
        <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non incidunt dignissimos doloribus voluptatibus sint libero cum consequatur eveniet ut voluptas.</h4>
        </a>
      </div>
      <div class="col-md-4">
        <a href="/projects">
          <img src="images/case3.jpg" alt="case1">
        <h3>USER CENTERED DESIGN</h3>
        <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, saepe. Tempore perspiciatis, praesentium quas! Aliquam quasi ipsum, eaque dolore cumque.</h4>
        </a>
      </div>
  </div>
  
</div>


</section>

<% include templates/footer.ejs %>


</body>
</html>